*{
    padding: 0;
    margin: 0;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
}

#header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #e3E6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
   padding: 0 20px;
   position: relative;
}
#navbar li,a ,ul{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #088178;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    /* width: 100%; */
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.tags{
    padding-left: 50px;
    line-height: 40px;
    letter-spacing: 3px;
}
.tags h1 ,h2 ,h1,h3{
    font-size: 40px;
    
}
.tags h1{
    color: #088178;
}
.tags p{
    color: yellowgreen;
}
.tags button{
    background-image: url(img/button.png);
    background-color: transparent;
    background-size: cover;
    border: none;
    font-size: 20px;
    color: #088178;
    padding: 20px 70px 14px 65px;
    cursor: grab;
}

#main{
    margin: 3%;
    display: flex;
    margin: 50px 30px;
    /* flex-wrap: wrap; */
}
.box{
    display: inline-block;
    height: 130px;
    width: 160px;
    border: 1px solid rgb(232, 226, 226);
    box-shadow: 3px 8px 8px  rgba(75, 93, 96, 0.2);
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
}
.box:hover{
   box-shadow: 13px 22px 27px  rgba(0, 0, 0, 0.4);
}
.box img{
    height: 80px;
    width: 100px;
    align-items: center;
    text-align: center;
}
.box button{
    padding: 8px;
    border: none;
    color: #088178;
    margin-top: 10px;
    font-weight: 600;
    background-color: #dfe1ed;
    border-radius: 10px;
    cursor: pointer;
}
.box button:hover{
    background-color: #dbe9f9;
}
#main .box:nth-child(2) button{
    background-color: #cdebbc;
}
#main .box:nth-child(3) button{
    background-color: #dcafe5;
}
#main .box:nth-child(4) button{
    background-color: #cdeff4;
}
#main .box:nth-child(5) button{
    background-color: #f6dbf6;
}
#main .box:nth-child(6) button{
    background-color: #f5dfc9;
}
.container{
    margin: 7%;
    align-items: center;
    text-align: center;
    line-height: 45px;
    letter-spacing: 3px;
    
}
.container h1{
    font-weight: 900;
    font-size: 60px;
}
.container p{
    font-weight: 500;
    font-size: 20px;
}
.container h1:hover{
    font-size: 63px;
}

.pro-container{
      margin: 4%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
     
} 
.rate{
    text-align: left;
    padding: 20px;
    line-height: 21px;
}
.collection{
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 12px;
    margin: 10px;
    box-shadow: 20px 20px 40px rgba(0,0,0,0.05);
    border: 1px solid #cce7d0;
    border-radius: 15px;
    position: relative;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.collection span{
    font-weight: 700;
    color: #088178;
    font-size: 20px;
}
.collection img{
    /* margin-top: 2px; */
    height: 250px;
    border-radius: 11px;

}
.star{
    color: rgb(243, 182, 25);;
}
.shopping{
    position: absolute;
    left: 210px;
    bottom: 6%;
    font-size: 19px;
    padding: 10px;
    border-radius: 100%;
    color: #088178;
    border: 1px solid #cce7d0;
    background-color: #e8f6ea;
}
.collection:hover{
    box-shadow: 11px 16px 14px rgba(17, 18, 17, 0.2);
}
.banner{
    color: white;
    background-image: url(img/b2.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    line-height: 40px;
}
.banner button{
    color:#fff;
    background-color: #fff;
    color: #000000;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}
.banner span{
    color:  #ef3636;
}
.banner button:hover{
    background-color:  #088178;
    color: #fff;
}
.banner-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    align-items: center;
}
.background{
   height: 50vh;
   width: 580px;
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   padding: 20px;
   color: #fff;
   margin: 10px 20px;
}
.background h2,p,h4{
    font-weight: 700;
    padding: 5px;
}
.background button{
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 20px;
    margin: 25px;
    color: #fff;
    font-size: 17px;
    transition: 0.5s ease;
}

.background:hover button{
    background-color: #088178;
    border: none;
}
#bg1{
    background-image: url(img/b10.jpg);
    background-size: cover;
    background-position: center;
}

#bg2{
    background-image: url(img/b17.jpg);
    background-size: cover;
    background-position: center;
}
.banner-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-top: 30px;
}
.banner-box{
    height: 30vh;
    width: 330px;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.banner-2 h2{
    font-size: 30px;
}
.banner-box span{
    color: #ef3636;
}
.box1-banner1{
    background-image: url(img/background2.jpg);
}
.box2-banner2{
    background-image: url(img/background3.jpg);
}

.banner-3{
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color:  #041e42;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 10px 0;
}
.newsletter h3{
     line-height: 1;
}
.newsletter span{
  color: #ef3636;
}

.navbar {
  display: flex;
  margin: 30px;
}
.navbar input{
    height: 20px;
    width: 300px;
    padding-left: 6px;
    padding: 14px;
    font-size: 15px;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.navbar button{
    padding: 0 21px;
    font-size: 16px;
    color: #fff;
    border: 0;
    background-color: #088178;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
footer{
    height: 400px;
   display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: wrap;
}
.footer-box p{
   font-size: 15px;
   font-weight: 300;
   color: #818ea0;
   cursor: pointer;
}
.footer-box h4{
    margin-bottom: 10px;
}
.footer-box img{
    margin-bottom: 15px;
}
.social{
    margin: 10px;
}
.icons i{
    padding: 2px;
    font-size: 17px;
}
.icons i:hover{
    color: #818ea0;
}
.footer-box p:hover {
    color: #088178;
}
.payment-img img{
    margin: 10px;
    border: 1px solid #088178;
    border-radius: 5px;
}
.payment2 img{
    margin-top: 15px;
    border: none;
}
.copyright{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

/* meadia */

@media (max-width:799px) {
    #navbar ul ,li{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3E6f3;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
        padding:  80px 0 0 10px;
        transition: 0.3s; 
    }
}
 

/* shop page */
#page-header{
    background-image: url(img/shopbanner.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    line-height: 2;
    letter-spacing: 2px;
}
.arrows {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.arrows a{
      background-color: #088178;
      padding: 12px 25px;
      margin: 5px;
      color: #fff;
      border: 1px solid #088178;
      border-radius: 3px;
}
.arrows i{
    font-size: 16px;
    padding: 3px 0;
    font-weight: 900;
}

/* Single product page */

#pro-image {
   width: 28%;
   margin: 10px 60px;
   padding: 10px;
}
.small-box{
    margin: 3px;
}
.small-image{
    display: flex;
    justify-content: center;
    width: 100%;
}

#prodetails{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.product-details{
    width: 50%;
   padding: 40px;
   align-items: start;
   text-align: start;
   
}
.product-details h4,h3{
    padding: 18px;
    margin-top: 10px;
}
.size{
    padding: 6px 10px;
    margin-left: 18px;
}
.product-details input{
    width: 35px;
    font-size: 18px;
    padding: 5px;
    margin-left: 18px;
}
.product-details button{
    padding: 13px 18px;
    margin: 10px;
    background-color: #088178;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

/* blog page */
#section1-blog{
    background-image: url(img/b19.jpg);
    background-position: center;
    background-size: cover;
    height: 293px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
}
#section1-blog h1{
    font-size: 60px;
}

#section2-blog {
    margin-top: 30px;
}
.blog-box{
   width: 100%;
   display: flex;
   justify-content: center;
   margin:  10px 40px;
   flex-wrap: wrap;
   
}
.blog-img {
   width: 30%;
   height: 300px;
   margin-right: 20px;
}
.blog-box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
.phragraph{
    width: 50%;
    height: 400px;
    align-items: center;
    text-align: start;
    margin: 20px;
}
.phragraph p {
    font-size: 16px;
    font-weight: 100;margin: 10px;
}
.phragraph h4{
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
}

/* about page */
#about-section{
    background-image: url(img/banner.png);
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    letter-spacing: 1px;
}

#about-section h1{
    font-size: 50px;
    padding: 2px;
}
.about-head{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;

}
.about-head img{
    width: 50%;
    height: auto;
    
}
.about-head .headings{
    margin-left: 40px;
    width: 50%;
    align-items: center;
    margin-top: 20px;
}

.headings p{
    font-weight: 100;
    padding: 15px;
}
.video-section{
    height: 90vh;
    width: 100%;
    text-align: center;
    margin: 30px;
}

.video-1{
    object-fit: cover;
    object-position: center;
    padding: 10px;
}

.video-section h1{
   padding: 20px;
}



/* contact detail  */

.contact-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px;
}
.contact-page{
    width: 50%;
    margin: 30px;

}
.contact-page span{
    margin-left: 10px;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-left: 20px;
}
.about-icon{
    margin: 10px;
}
.about-icon li{
    display: flex;
    list-style: none;
    padding: 5px;
}
.about-icon i{
    padding: 5px;
    font-size: 20px;
}
.map{
    margin: 40px;
}
/* form section */

.last-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(226, 218, 218);
    margin:  0 30px;
}
.form-container{
    width: 70%;
    margin: 40px;
    padding: 40px;
    display: inline;
    justify-content: center;
    flex-direction: column;
}
.form-container h2, span{
    margin: 10px;
    margin-left: 25px;
}
form input{
    width: 70%;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin: 20px;
    
}
form textarea{
    width: 70%;
    padding: 20px;
    border: 1px solid gainsboro;
    font-size: 15px;
    margin: 20px;
}
form button{
    display: flex;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #088178;
    color: whitesmoke;
    font-weight: 600;
    margin-top: 10px;
}
.person-info{
    width: 30%;
    margin: 40px 10px;
    padding: 40px 10px;
}

.person-flex{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.person-img{
    height: 90px;
    width: 90px;
    padding: 2px;
    background-color: #72883a;
    border-radius: 100%;
}
.person-name{
    margin-left: 10px;
}
.person-name p{
    font-weight: 100;
}




